---
layout: page
title: Benjamin S&ouml;llner
subtitle: Blog &amp; Portfolio of a Curious Person
description: Benjamin S&ouml;llner - multimedia computer scientist, integrator of IT, people and data, outdoor globetrotter, amateur photographer
tags: photography, data, data science, Benjamin S&ouml;llner, data analyst, integration, IT integration, information technology, visualization, multimedia computer science, projects, portfolio, blog
---
{% include JB/setup %}
<div class="banner" style="width: 860px; height: 415px">
<img src="assets/calmlandingpage.jpg" alt="Banner image from Sweden" width="860" height="415" />
<div class="banner-text">
  <p>Benjamin S&ouml;llner: multimedia computer scientist, integrator of data, IT and people, social dancer,
  amateur photographer and outdoor globetrotter.</p>
  <p>
  {% include icon-linkedin.html username="LinkedIn" id="benjaminsoellner" %} &bullet;
  {% include icon-github.html username="GitHub" id="benjaminsoellner" %} &bullet;
  {% include icon-academia.html username="Academia" id="BenjaminSoellner" %} &bullet;
  {% include icon-twitter.html username="Twitter" id="qwertzuhr" %} &bullet;
  {% include icon-flickr.html username="Flickr" id="61423571@N00" %} &bullet;
  <a href="about.html"><strong>more...</strong></a>
  </p>
  <p><em>Picture: L&acirc;ngberget, Sweden on New Year's Eve 2015/2016</em></p>
</div>
</div>

<div class="action">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="//benkku.us13.list-manage.com/subscribe/post?u=ca5da383b5cfe2819febc436c&amp;id=84c65f892a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div class="mc-field-group clearfix">
      <span class="call">Sign up for my newsletter about new creative projects!</span>
      <div class="pull-right">
        <input type="email" placeholder="your@email.com" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn button-default">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ca5da383b5cfe2819febc436c_84c65f892a" tabindex="-1" value=""></div>
      </div>
    </div>
  </form>
  </div>

  <!--End mc_embed_signup-->

</div>

<div class="tiles">
<h1>Cool Creative Projects I Worked On</h1>
<ul>
  <li class="huge">
    <a href="https://rawgit.com/benjaminsoellner/DAND_6_VisualizeEMobilityDataInD3js/master/index.html#!/explain?showStories=1" class="title"><img src="assets/project_visualize_emobility_data.gif" width="252" height="197" />Visualize E-Mobility Battery Performance Using D3.js<br />
      <small>Going Beyond the Data Analyst Nanodegree Project with some Real-World Automotive Data</small></a>
    <a href="https://github.com/benjaminsoellner/DAND_6_VisualizeEMobilityDataInD3js/blob/master/README.md"><span class="fa fa-github icon"></span>Github + Docs</a> &nbsp;
    <a href="https://github.com/benjaminsoellner/DAND_6_VisualizeEMobilityDataInD3js/archive/master.zip"><span class="fa fa-download icon"></span>Download</a>
  </li>
  <li>
    <a href="https://rawgit.com/benjaminsoellner/DAND_6_MachineLearningEnronData/master/Data_Analyst_Project_5_-_Classify_POIs_with_Machine_Learning.html" class="title"><img src="assets/project_detect_fraud_from_enron_ml.gif" />Detect Fraud at Enron with Machine Learning</a>
    <a href="https://github.com/benjaminsoellner/DAND_5_MachineLearningEnronData"><span class="fa fa-github icon"></span>Github</a> &nbsp;
    <a href="https://udacity-github-sync-content.s3.amazonaws.com/_submissions/109698_yzo3u.zip"><span class="fa fa-download icon"></span>Download</a>
  </li>
  <li>
    <a href="https://rawgit.com/benjaminsoellner/2015_Data_Analyst_Project_4/master/Data_Analysis_Project_4_-_Explorative_Data_Analysis_with_R.html" class="title"><img src="assets/project_explore_summarize_data.gif" />Explore &amp; Summarize Data of Wine Quality with R</a>
    <a href="https://github.com/benjaminsoellner/DAND_4_ExplorativeDataAnalysisR"><span class="fa fa-github icon"></span>Github</a> &nbsp;
    <a href="https://udacity-github-sync-content.s3.amazonaws.com/_submissions/90781_ttu7m.zip"><span class="fa fa-download icon"></span>Download</a>
  </li>
  <li>
    <a href="https://htmlpreview.github.io/?https://github.com/benjaminsoellner/2015_Data_Analyst_Project_3/blob/master/Data%20Analysis%20Project%203%20-%20Data%20Wrangle%20OpenStreetMaps%20Data.html" class="title"><img src="assets/project_wrangle_osm_data.gif" />Wrangle Open Street Maps Data from Dresden</a>
    <a href="https://github.com/benjaminsoellner/DAND_3_OSMDataWranglingMongoDB"><span class="fa fa-github icon"></span>Github</a> &nbsp;
    <a href="https://udacity-github-sync-content.s3.amazonaws.com/_submissions/63042_zwu24.zip"><span class="fa fa-download icon"></span>Download</a>
  </li>
  <li>
    <a href="http://htmlpreview.github.io/?https://github.com/qwertzuhr/2015_Data_Analyst_Project_2/blob/master/Data_Analyst_Project_2_Soellner.html" class="title"><img src="assets/project_analyze_nyc_subway_data.gif" />Analyze New York City Subway &amp; Weather Data</a>
    <a href="https://github.com/benjaminsoellner/DAND_2_AnalyzingSubwayData"><span class="fa fa-github icon"></span>Github</a> &nbsp;
    <a href="https://udacity-github-sync-content.s3.amazonaws.com/_submissions/35108_lcu49.zip"><span class="fa fa-download icon"></span>Download</a>
  </li>
  <li>
    <a href="http://tinyurl.com/Enterprise20Slides" class="title"><img src="assets/project_at_esslingen_university.gif" />Enterprise 2.0: Social Software in Corporations</a>
    <small>Course taught in 2013 and 2014 at Esslingen University of Applied Sciences</small>
  </li>
  <li>
    <a href="http://tinyurl.com/thesisBS" class="title"><img src="assets/project_at_tu_dresden.gif" />Search Engine Prototype for Car Dealerships</a>
    <small>Master Thesis "Semantic Federation of Heterogenous Data Sources in Automotive Diagnostics"</small>
  </li>
  <li>
    <a href="http://tinyurl.com/mobilismedia" class="title"><img src="assets/project_at_tu_dresden.gif" />Android App for Location Based Picture Sharing</a>
    <small>Bachelor Thesis "XMPP-based Media Sharing for Mobile Collaboration with Android Phones"</small>
  </li>
  <li class="one-liner">
    <span><a href="portfolio_pre_2010.pdf" class="title"><span class="icon fa fa-file-pdf-o"></span>More from pre-2010...</a></span>
  </li>
</ul>
</div>

{% for post in site.posts limit:1 %}
<div class="article">
  <div class="feed_box">
  <a class="btn" href="rss.xml"><span class="icon fa fa-rss"></span>RSS Feed</a>
  </div>
  <small>{{ post.date | date: "%b %-d, %Y" }}</small>
  <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{post.subtitle}}</small></h1>
  {{ post.content }}
</div>
{% endfor %}

{% capture diff %}{{ site.posts | size | minus:2 }}{% endcapture %}
{% unless diff contains '-' %}
<h1>Recent Blog Posts</h1>
{% for post in site.posts offset:1 limit:19 %}
  <h1>Other Recent Posts</h1>
  <span class="post-meta"></span>
  <h2>
    {{ post.date | date: "%b %-d, %Y" }}: <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{post.subtitle}}</small></small>
  </h2>
   {{ post.description }}
{% endfor %}
{% endunless %}
