/* Navigation bar */
.topbar-inner,.topbar .fill{background-color:#ED7D31;background-image:-khtml-gradient(linear, left top, left bottom, from(#ED7D31), to(#F19E65));background-image:-moz-linear-gradient(top, #ED7D31, #F19E65);background-image:-ms-linear-gradient(top, #ED7D31, #F19E65);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ED7D31), color-stop(100%, #F19E65));background-image:-webkit-linear-gradient(top, #ED7D31, #F19E65);background-image:-o-linear-gradient(top, #ED7D31, #F19E65);background-image:linear-gradient(top, #ED7D31, #F19E65);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED7D31', endColorstr='#F19E65', GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
.topbar a{color: white;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); font-weight: bold}
.topbar h3 a:hover,.topbar .brand:hover,.topbar ul .active>a{background-color:#333;background-color:rgba(255, 255, 255, 0.05);color:#eeeeee;text-decoration:none;}
.topbar div>ul a:hover, .nav a:hover { color: #F9D6BF; text-decoration: none; }
.topbar .brand { text-decoration: none; }
.topbar a.brand img { position: absolute; height: 50px; width: 50px; margin-right: 5px; background-size: cover; border-radius: 50%; float: left; -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
.topbar a.brand span { margin-left: 60px; }

/* Link stuff */
a { color: black; text-decoration: underline; }
a:hover, div.content a:active { color: #ED7D31; text-decoration: underline; }
a.btn { text-decoration: none; }
a.btn:hover, a.btn:active, a.btn:focus { text-decoration: none; }
.tag_box a { background: #eee; color:black; border-radius: 3px; border: 1px solid #ccc; }
.tag_box a:hover { color:#ED7D31; text-decoration: none; }
.feed_box { float: right; }
.feed_box .btn { font-size: 1.2em; font-weight: bold; }

/* Pagination */
.pagination li { border-radius: 3px; }
.pagination a { color: black; background: #eee; }
.pagination a:hover { color: #ED7D31; background: #eee; text-decoration: none; }

a .icon { vertical-align: center; margin-right: 0.2em; font-size: 16px; text-decoration: none; }
footer .copyright { color: #888888;  } footer .copyright a { color: #888888;  } footer .copyright a:hover { color: #F19E65;  }

/* Content stuff */

.page-header { padding-left: 80px; }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#F19E65;}
div.content div.row h1 { font-size: 20px; color: #ED7D31; margin-top: 5px; margin-bottom: 5px; }
div.content div.row h2 { font-size: 15px; color: #ED7D31; margin-top: 5px; margin-bottom: 5px; font-weight: normal; }
div.content div.row h1 a, div.content div.row h2 a { color: #ED7D31; }

h4 { color: #999; }
ul{list-style-type: square;}
li{line-height:18px;color:inherit;}

/* Banner */
div.banner { position: relative; margin: -20px -20px 0px -20px; }
div.banner img { border-bottom: 1px solid #888; }
div.banner div { position: absolute; top: 320px; left: 20px; width: 300px; height: 50px; background: rgba(255,255,255,0.8); -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5),inset 0 -1px 0 rgba(0, 0, 0, 0.5);box-shadow:0 1px 3px rgba(0, 0, 0, 0.5),inset 0 -1px 0 rgba(0, 0, 0, 0.5); padding: 10px; }

/* Action Segment */
.action { margin: 0px -20px 0px -20px; padding: 10px 20px 10px 20px; color: white; background-color:#ED7D31;background-image:-khtml-gradient(linear, left top, left bottom, from(#ED7D31), to(#F19E65));background-image:-moz-linear-gradient(top, #ED7D31, #F19E65);background-image:-ms-linear-gradient(top, #ED7D31, #F19E65);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ED7D31), color-stop(100%, #F19E65));background-image:-webkit-linear-gradient(top, #ED7D31, #F19E65);background-image:-o-linear-gradient(top, #ED7D31, #F19E65);background-image:linear-gradient(top, #ED7D31, #F19E65);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED7D31', endColorstr='#F19E65', GradientType=0); }
.action form { margin: 0px; }
.action .call { position: relative; top: 5px; font-size: 14pt; padding-top: 5px; }
.action .mc-field-group { margin: 0px; }

/* In Site Menu Section */
.tiles { margin-left: -20px; margin-right: -20px; margin-bottom: 10px;
  padding-left: 20px; padding-right: 2px; border-top: 1px solid rgba(0,0,0,.15); border-bottom: 1px solid rgba(0,0,0,.15);
  background-color:rgba(249, 214, 191);
  background-image:-khtml-gradient(linear, left top, left bottom, from(rgba(237, 125, 49, 0.15)), to(rgba(241, 158, 101, 0.15)));
  background-image:-moz-linear-gradient(top, rgba(237, 125, 49, 0.15), rgba(241, 158, 101, 0.15));
  background-image:-ms-linear-gradient(top, rgba(237, 125, 49, 0.15), rgba(241, 158, 101, 0.15));
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 125, 49, 0.15)), color-stop(100%, rgba(241, 158, 101, 0.15)));
  background-image:-webkit-linear-gradient(top, rgba(237, 125, 49, 0.15), rgba(241, 158, 101, 0.15));
  background-image:-o-linear-gradient(top, rgba(237, 125, 49, 0.15), rgba(241, 158, 101, 0.15));
  background-image:linear-gradient(top, rgba(237, 125, 49, 0.15), rgba(241, 158, 101, 0.15));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(237, 125, 49, 0.15)', endColorstr='rgba(241, 158, 101, 0.15)', GradientType=0);
}
.tiles ul {
  margin: 0px 0px 0px 0px;
}
.tiles li {
  height: 160px; width: 168px; padding: 10px; text-align: center; margin: 0px 20px 20px 0px; background: white; position: relative; float: left; display: block; list-style-type: none;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.tiles li.huge { height: 340px; width: 356px; padding: 20px; }
.tiles li.huge img { padding-top: 35px; padding-bottom: 5px; margin: 0px 30px 30p }
.tiles li.huge a { padding-bottom: 5px; }
.tiles li img { display: block; margin: auto; padding-top: 5px; padding-bottom: 2px; }
.tiles li a.title { font-weight: bold; display: block; margin-bottom: 5px; color: black; }
.tiles li a.title:hover, .tiles li a.title:active { color: #ED7D31 }
.tiles:after {  content: ""; display: table; clear: both; }
.tiles li a { text-decoration: none; color: #888888 }
.tiles li a small { color: black; }
.tiles li a:hover, .tiles li a:active { color: #F19E65 }
.tiles small { color: #888888; }
.tiles li.one-liner { display: inline-block;  line-height: 160px; }
.tiles li.one-liner span { display: inline-block; vertical-align: middle; text-align: center; display: line-height: 160px; }

.article { margin-top: 20px; margin-bottom: 50px; }

dl.pictured > dt {
  clear: left;
  border-top: 1px solid #eee;
  padding-top: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
dl.pictured dt:first-of-type {
  border-top: none;
}
dl.pictured > dt img {
  float: left;
  margin: 3px;
  margin-left: 6px;
  margin-right: 6px;
}
dl.pictured > dd {
  margin-left: 66px;
}

.calltoaction { font-size: 2em; font-weight: normal }
